{% extends "box.html" %}
{% load assets %}

{% block title %}Регистратура | {{ BRAND }}{% endblock %}

{% block head %}
	{% autoescape off %}
	<script type="text/javascript">
		var state = '{{ request.active_profile.state }}';
		var MEDIA_URL = '{{ STATIC_URL }}';
		var API_URL = '/api/v1/dashboard';
		var apps = {{ apps }};

	</script>
	{% endautoescape %}

	{% include "webapp/includes/active_profile.html" %}

	<link rel="icon" type="image/ico" href="{{ STATIC_URL }}resources/favicon.ico" />

	{% assets "css_ext" %}
	 <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></>
	{% endassets %}

	{% assets "css_registry" %}
	 <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></>
	{% endassets %}

    <style type="text/css" media="all">
	    .ext-cal-dayview .ext-cal-body-ct .ext-cal-bg-tbl {
		    height: 504px;
		}

		.ext-cal-day-col-gutter {
		    height: 504px;
		}

    	.x-tree-node-anchor {
    		white-space: normal;
    	}

    	.ext-cal-hd-ad-inner {
			height:50px;
		}
    </style>

     <!-- GIF -->
<!--     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/calendar/resources/images/default/bg.gif"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/calendar/resources/images/default/page-prev.gif"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/calendar/resources/images/default/arrow.gif"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/calendar/resources/images/default/page-next.gif"/>
 -->


	{% assets "js_ext" %}
	 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	{% assets "js_for_all" %}
	 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	<script type="text/javascript">
		Raven.config("{{sentry_dsn}}");
	</script>

	<script type="text/javascript" src="/webapp/settings/"></script>

	<script src="/direct/provider.js/"></script>
	<!-- <script src="/direct/polling_provider.js/"></script> -->

	{% assets "js_registry" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	<script type="text/javascript">

	    WEB_SOCKET_SUPPRESS_CROSS_DOMAIN_SWF_ERROR = true;
		WEB_SOCKET_SWF_LOCATION = "{{ STATIC_URL }}resources/js/web-socket-js/WebSocketMain.swf";
	    WEB_SOCKET_DEBUG = true;

	</script>



{% endblock %}

{% block body %}
<div id="main"></div>

<div id="total-tpl" style="display:none;">
	<div class="total-sum">
		<span class=""><strong>Общая сумма: {total} руб.</strong></span>
	</div>
</div>

<div id="patient-info" style="display:none;">
	<h1>{last_name} {first_name} {mid_name}</h1>
</div>
{% endblock %}
