{% extends "box.html" %}

{% block extra_head %}
<script src="{{ STATIC_URL }}resources/js/jquery-1.4.4.js"></script>
<script src="{{ STATIC_URL }}libs/picnet.table.filter.min.js"></script>

<script>
	$(document).ready(function(){
	});
</script>


<link href="{{ STATIC_URL }}resources/css/reset.css" type="text/css" rel="stylesheet" media="all"/>
<style>
	body {
		padding:5px;
		font-family:Arial;
	}
	a, a:visited {
	    color: #5B80B2;
    	text-decoration: none;
    }
	.breadcrumbs {
		padding:10px 0;
		margin-right:200px;
	}
	
	.list {
		clear:both;
	}
	
	.list table {
		width:100%;
		border-top:1px solid #DDD;
		border-left:1px solid #DDD;
	}
	
	.list tr {
	}
	
	.list td, .list th{
		padding:5px;
		border-right:1px solid #EEE;
		border-bottom:1px solid #DDD;
		text-align:left;
	}
	
	.leaf {
		font-weight:normal;
	}
	
	.folder {
		padding-left:16px;
		background:url({{ STATIC_URL}}resources/images/arrow_right.png) no-repeat -2px;
	}
	
	.list .even {
		background-color:#EDF3FE;
	}
	
	.search {
		float:right;
		padding:5px;
	}
	
	.search input {
		display:none;
		border:1px solid #AAA;
		font-size:1em;
	}
	
	.nav {
	}
	
</style>

{% endblock %}

{% block body %}


{% if object_list %}
		<span class="search"><input id="search" type="text"></span>		
	<div class="breadcrumbs">

		{% if node %}
			<a href="{% url selection slc %}">{{ verbose_name|default:'Услуги клиники' }}</a>
			{% if node.is_root_node %}
				
			{% else %}
				{% for ancestor in node.get_ancestors %}
					| <a href="{% url selection slc %}?node={{ ancestor.pk }}">{{ ancestor.name }}</a>
				{% endfor %}
			{% endif %}
			| {{ node.name }}
		{% else %}
			Выберите раздел
		{% endif %}
	</div>
	<div class="list">
		<table id="data">
			<tbody>
			{% for object in object_list %}
			<tr class="{% cycle 'even' '' %}">
				<th>
				{% if object.is_leaf_node %}
				<a class="leaf" href="#" onCLick="top.selectionCallback({{ object.pk }},'{{ object }}');"><!--<span class="idn">{{ object.code }}</span>--> {{ object.name }}</a>
				{% else %}
				<a class="folder" href="{% url selection slc %}?node={{ object.pk }}"><!--<span class="idn">{{ object.code }}</span>--> {{ object.name }}</a>
				{% endif %}
				</th>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% if pages > 1 %}
	<div class="nav">
		<ul>
			{% for p in page_range %}
			<li><a class="gallery-link {% if p == page %}active{% endif %}" href="?page={{ p }}{% if node %}&node={{node.pk}}{% endif %}" title="Страница {{ p }}"></a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	
{% endif %}

{% endblock %}