{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
<table align="center">
    {% spaceless %}
	<tr>
    {% for child in module.children %}
	    <td align="center" class="{% cycle 'odd' 'even' %}" style="border:none;padding:10px;">
	    {% autoescape off %}
			<a{% if child.external %} class="external-link"{% endif %} href="{{ child.url }}" {% if child.description %} title="{{ child.description }}"{% endif %}><img src="{{ STATIC_URL }}{{child.icon}}"><br>{{ child.title }}</a>
		{% endautoescape %} 
	    </td>
    {% endfor %}
	</tr>
    {% endspaceless %}
</table>
{% endblock %}
