{% spaceless %}
	<script>
		var profiles = [
		{% for position in request.user.get_profile.position_set.all %}
		['{{ position.id }}','{{ position.profile }}'],
		{% endfor %}
		]
		var active_profile = {{ request.active_profile.id }};
		var active_state = '{{ request.active_profile.department.state }}';
		var active_state_id = {{ request.active_profile.department.state.id }};
		var active_user = '{{ request.user }}';
		var active_staff = '{{ request.active_profile.staff.id }}';
	</script>
{% endspaceless %}	