{% extends "admin/base_site.html" %}

{% load i18n lab_tags %} 

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
	ul.reports li {
		font-size:14pt;
		margin:10px 0;
	}
</style>
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
</div>
{% endif %}{% endblock %}


{% block content %}

<ul class="reports">
{% for report in reports %}
<li><a href="/old/reporting/{{ report.0 }}/?start_date={{ today|date:"Y-m-d" }}&end_date={{ today|date:"Y-m-d" }}">{{ report.1.verbose_name }}</a></li>
{% endfor %}
</ul>

{% endblock %}