{% extends "admin/base_site.html" %}

{% load i18n lab_tags %} 

{% block title %}{{ title }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
	.title-0 {
		font-weight:bolder;
		font-size:1.1em;
		background: #e9f4fa;
	}
	.title-1 {
		font-weight:bold;
		background: #fbf9bb;
	}
	.total-row {
		font-weight:bolder;
		font-size:1.2em;
		background: #ffc0cb;
	}

</style>
<script type="text/javascript" src="{{ MEDIA_URL }}resources/js/jquery-1.4.4.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}resources/js/jui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}resources/js/jui/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}resources/js/jui/ui/jquery.ui.datepicker.js"></script>
<link href="{{ MEDIA_URL }}resources/js/jui/themes/base/jquery.ui.all.css" type="text/css" media="all" rel="stylesheet" />

<script>
	$(function() {
		$( ".date-field" ).datepicker({ dateFormat: 'yy-mm-dd' });
	});
</script>
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../">Панель отчетов</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
	  
</div>
{% endif %}{% endblock %}


{% block content %}

<form method="get" action=".">
	<table>
	{{ report.get_form }}
	</table>
	<button>Обновить</button>
</form>
<a href="print/?{{ request.META.QUERY_STRING }}" target="_blank">Напечатать</a>
<div id="changelist" class="module">
<table width="100%">
	<tbody>
		{% for row in report.results %}
		<tr>
			{% for col in row %}
			<td class="{{ col.2|default:"" }}"{% if col.1 > 1 %} colspan="{{ col.1 }}"{% endif %}>{{ col.0|default:"<em>Не указано</em>" }}</td>
			{% endfor %}
		</tr>
		{% empty %}
		<tr><td>Записи отсутствуют</td></tr>
		{% endfor %}
			
	</tbody>
</table>
</div>

{% endblock %}