-e git+git://github.com/jaraco/path.py.git#egg=path_py
django-admin-tools
django-annoying
django-autocomplete
django-boss
django-celery
django-constance
django-dbtemplates
django-debug-toolbar
django-extensions
django-flatblocks
django-memcached
django-mptt==0.5.2
django-reversion
django-tagging
django-tastypie==0.9.11
django-test-utils
django==1.4.3
djangocodemirror==0.6.5
elaphe
extdirect.django
fabric
factory_boy
feincms
html5lib
httplib2
jsonfield
pisa
psycopg2
pydicom
pypdf
python-memcached
pytils
raven
redis
reportlab
simplejson
sorl-thumbnail
South
xlwt
yuicompressor
