django
django-annoying
django-admin-tools
django-autocomplete
django-boss
django-debug-toolbar
django-staticfiles
django-sentry
johnny-cache
django-compressor
django-tastypie
django-reversion
django-mptt
feincms
elaphe
South
psycopg2
python-memcached
django-extensions
xlwt
-e git+git://github.com/dottedmag/path.py.git#egg=path_py
