{% extends "box.html" %}
{% load assets %}

{% block title %}Панель управления{% endblock %}

{% block head %}
	<link rel="icon" type="image/ico" href="{{ MEDIA_URL }}resources/favicon.ico" />

   {% assets "css_treatmentroom" %}
	 <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></>
	{% endassets %}

	<style>
	</style>

	<script type="text/javascript">
		var state = '{{ request.active_profile.state }}';
		var MEDIA_URL = '{{ MEDIA_URL }}';
		var API_URL = '/api/v1';
		function get_api_url(resource){
			return [API_URL,'dashboard',resource].join("/");
		}
	</script>

    {% assets "js_ext" %}
 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

	{% assets "js_for_all" %}
	 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	
	<script type="text/javascript">
		Raven.config("{{sentry_dsn}}");
	</script>

{% assets "js_treatment" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% include "webapp/includes/active_profile.html" %}

{% endblock %}

{% block body %}
{% endblock %}
