{% extends "print/off_blank.html" %}

{% block extra_head %}
<style>

</style>
{% endblock %}

{% block body %}

<table>
	<tr>
		<td>
			<table>
				<tr>
					<td>Дата</td>
					<td>{{ meta.date|date:'d.m.Y' }}</td>
					<td>Время</td>
					<td>{{ meta.time }}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td>Врач</td>
					<td>{{ meta.position }}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td>{{ meta.staff }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


{{ object_list }}


{% endblock %}