{% extends "box.html" %}
{% load assets %}

{% block title %}Панель управления{% endblock %}

{% block head %}
	<link rel="icon" type="image/ico" href="{{ STATIC_URL }}resources/favicon.ico" />

    {% assets "css_oldexam" %}
	 <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></>
	{% endassets %}

	<style>
    	body, button, input, select, textarea {
    		font-family: Arial,Helvetica,Helvetica Neue,Verdana,sans-serif;
    		color: #222;
    		background-color: #DDD;
    	}

    	#ct {
    	}

    	.placeholder {
    		background-color: white;
    		padding:10px;
    		width:100%;
    		margin:0;
    		box-shadow:0px 0px 2px #AAA;
    		-moz-user-select: none;
    		cursor: default;
    	}

    	.placeholder .section {
    		border:1px solid white;
    		padding:5px;
    	}

    	.placeholder .section.private {
    		background-color: #FFF9A8;
    	}

    	.placeholder .section.not-printable {
    		border:1px dotted gray;
    	}

    	.placeholder .section:hover {
    		border:1px dashed #879DFF;
    	}

    	.tpl-print-name, .placeholder .title span, .header-editor {
    		font-weight:bold;
    		font-size:18pt;
    	}

    	.placeholder .content {
    		margin:10px 0;
    		min-height: 60px;
    		font-size:10pt;
    	}

    	.placeholder .content.empty-body {
    		color:#CCC;
    		font-size:8pt;
    		font-style: italic;
    	}

    	.placeholder .content.selected {
    		background-color:#D8DFF8;
    	}

    	.placeholder .title.empty-header {
    		color:#CCC;
    		font-size:14pt;
    		font-style: italic;
    	}

    	.placeholder .content em {
    		font-style: italic;
    	}

    	.placeholder .content strong {
    		font-weight: bold;
    	}

    	.placeholder .content ol {
    		list-style-type: decimal;
    		list-style-position: inside;
    	}

    	.placeholder .content ul {
    		list-style-type: disc;
    		list-style-position: inside;
    	}

    	.text-editor {
    		font-size:10pt;
    	}

    	.help-node {
    		font-style: italic;
    	}

    	.tab-title {
    		font-size:15pt;
    		margin-bottom:5px;
    	}

    	.tab-subtitle {
    		font-size:11px;
    		color:#BBB;
    		margin-bottom:9px;
    	}
    </style>

	<script type="text/javascript">
		var state = '{{ request.active_profile.state }}';
		var MEDIA_URL = '{{ STATIC_URL }}';
		var API_URL = '/api/v1';
	</script>

    {% assets "js_ext" %}
	 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	{% assets "js_for_all" %}
	 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	<script type="text/javascript">
		Raven.config("{{sentry_dsn}}");
	</script>

	<script type="text/javascript" src="/webapp/settings/"></script>

	{% assets "js_oldexam" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}



{% include "webapp/includes/active_profile.html" %}

{% endblock %}

{% block body %}
{% endblock %}
