{% extends "box.html" %}

{% block title %}Авторизация{% endblock %}

{% block head %}
	<link rel="icon" type="image/ico" href="{{ MEDIA_URL }}resources/favicon.ico" />

    <!-- ExtJS -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}extjs/resources/css/ext-all.css"/>

    <!-- APP -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}resources/css/app.css"/>

    <!-- FAM -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}resources/css/silk.css"/>

    <!-- LIBS -->
    <script type="text/javascript" src="{{ MEDIA_URL }}extjs/adapter/ext/ext-base.js"></script>
    <!-- ENDLIBS -->

    <script type="text/javascript" src="{{ MEDIA_URL }}extjs/ext-all{% if debug %}-debug{% endif %}.js"></script>
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}extjs/src/debug.js"></script>-->

    <script type="text/javascript" src="{{ MEDIA_URL }}extjs/ux/CenterLayout.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}app/auth/app.js"></script>

	<script>
		var next = '{{ request.GET.next }}';
	</script>

{% endblock %}

{% block body %}
{% endblock %}
