{% extends "box.html" %}
{% load assets %}

{% block title %}Авторизация{% endblock %}

{% block head %}
	<link rel="icon" type="image/ico" href="{{ STATIC_URL }}resources/favicon.ico" />

    {% assets "css_auth" %}
	 <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></>
	{% endassets %}

    <!-- LIBS -->
    <script type="text/javascript" src="{{ STATIC_URL }}extjs/adapter/ext/ext-base.js"></script>
    <!-- ENDLIBS -->

    <script type="text/javascript" src="{{ STATIC_URL }}extjs/ext-all{% if debug %}-debug{% endif %}.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}extjs/src/debug.js"></script>-->

    <script type="text/javascript" src="{{ STATIC_URL }}extjs/ux/CenterLayout.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}app/auth/app.js"></script>

	<script>
		var next = '{{ request.GET.next }}';
	</script>

{% endblock %}

{% block body %}
{% endblock %}
