{% extends "print/off_blank.html" %}

{% load lab_tags %}

{% block title %}{{ card.ordered_service.order }} - Карта осмотра{% endblock %}

{% block body %}


<div id="print-box">
	<a href="javascript:window.print();">Печать</a>
</div>

<div class="page_wrapper_A4_book">
<div class="page_wrapper examination">

{% include "print/exam_header.html" %}

<table class="patient">
	<tr>
		<td>
			<table>
				<tr>
					<td class="name">Ф.И.О.:</td><td class="bold">{{ card.ordered_service.order.patient.full_name }}</td>
				</tr>
				<tr>
					<td class="name">Дата рождения:</td><td class="bold">{{ card.ordered_service.order.patient.birth_day|date:"d.m.Y" }}</td>
				</tr>
				<tr>
					<td class="name">Дата исследования:</td><td class="bold">{{ card.ordered_service.order.created|date:"d.m.Y H:i" }}</td>
				</tr>
			</table>
		</td>
		<td align="right">
			Заказ: <strong>{{ card.ordered_service.order.id|zid:"5" }}</strong><br>
			Врач: <strong>{{ card.ordered_service.staff.id|zid:"5" }}</strong><br>
			Направившее учреждение: <strong>{{ card.ordered_service.order.referral.id|zid:"5" }}</strong><br>
			
		</td>
	</tr>
</table>
<br>

<h1 class="center">{% if card.print_name %}{{ card.print_name }}{% else %}{{ card.ordered_service.service }}{% endif %}</h1>
<div class="content">

{% if card.equipment %}
    <br>  <strong>Выполнено на оборудовании: </strong> {{card.equipment}}<br>
{% endif %}

{% if card.area %}
    <br>  <strong>Область исследования: </strong> <p>{{card.area}}</p>
{% endif %}

{% if card.scan_mode %}
    <br>  <strong>Режим сканирования: </strong> <p>{{card.scan_mode}}</p>
{% endif %}

{% if card.thickness %}
    <br>  <strong>Толщина реконструктивного среза: </strong> <p>{{card.thickness}}</p>
{% endif %}

{% if card.width %}
    <br>  <strong>Ширина/шаг, мм: </strong> <p>{{card.width}}</p>
{% endif %}

{% if card.contrast_enhancement %}
    <br>  <strong>Контрастное усиление: </strong> <p>{{card.contrast_enhancement
}}</p>
{% endif %}

{% if card.complaints and 'complaints' in to_print %}
    <br>  <strong>Жалобы</strong>
    <p> {{card.complaints|linebreaksbr}}</p>
{% endif %}


{% if card.history and 'history' in to_print %}
    <br>  <strong>История настоящего заболевания</strong>
    <p> {{card.history|linebreaksbr}}</p>
{% endif %}

{% if card.anamnesis and 'anamnesis' in to_print %}
    <br>  <strong>Анамнез</strong>
    <p> {{card.anamnesis|linebreaksbr}}</p>
{% endif %}

{% if card.objective_data %}
    <br> <!--<strong>Объективные данные</strong>-->
    <p> {% autoescape off %} {{ card.objective_data }} {% endautoescape %}</p>
{% endif %}
{% if card.gen_diag %}
    <br> <strong>Основной диагноз</strong>
    <p> {% autoescape off %}{{card.gen_diag}}{% endautoescape %}</p>
{% endif %}
{% if card.mbk_diag %}
    <br> <strong>Диагноз по МБК</strong>
    <p> {{card.mbk_diag}}</p>
{% endif %}
{% if card.treatment %}
    <br> <strong>Лечение</strong>
    <p> {{card.treatment|linebreaksbr}}</p>
{% endif %}
{% if card.referral %}
    <br> <strong>Направление</strong>
    <p> {{card.referral|linebreaksbr}}</p>
{% endif %}
{% if card.extra_service %}
    <br> <strong>Дополнительные услуги</strong>
    <p> {{card.extra_service|linebreaksbr}}</p>
{% endif %}
{% if card.conclusion %}
    <br> <strong>Заключение</strong>
    <p> {{card.conclusion}}</p>
{% endif %}
<br>
<table width="100%">
	<tr>
		<td>Врач</td>
		<td align="right">___________________ ({{ card.ordered_service.staff.staff.short_name }})</td>
	</tr>
</table>
</div>

{% include "print/exam_footer.html" %}

</div>
</div>
{% endblock %}