{% extends "print/off_blank.html" %}
{% load lab_tags %}
{% block title %}Реестр направляющих учреждений{% endblock %}

{% block extra_head %}
<style>
	table.page-frame {
		width:100%;
		page-break-after:always;
	}
	table.service-list {
		margin-top:12pt;
	}
	table.service-list td,table.service-list th  {
		border:1px solid;
		padding:3px;
		font-size:10pt;
	}
	table.service-list th {
		background-color:#EEE;
	}
	.details {
		font-size:12pt;
		line-height:120%;
		margin:5px 0 10px 0;
	}
	td.visit {
		height:19cm;
	}
	td.agreement {
		border-top:dashed 1px gray;
		font-size:8pt;
		line-height:120%;
	}
	td.agreement h3 {
		text-align:center;
		font-size:10pt;
		margin-top:6pt;
		line-height:150%;
	}
	td.agreement .indent {
		margin-bottom:3pt;
	}
	td.agreement ol {
		list-style:decimal inside none;
	}
	.underwrites {
		margin-top:10pt;
		width:100%;
	}
	.title {
		font-size:16pt;
		font-weight:bold;
		text-align:center;
		margin:8pt 0;
	}
	.rt {
		text-align:right;
	}
	
</style>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div id="print-box">
	<a href="javascript:window.print();">Печать</a>
</div>

<div class="page_wrapper_A4_book">
	<div class="page_wrapper">
		<h1 class="title">Реестр учреждений</h1>
		
		<table width="100%" class="service-list">
			<tr>
				<th>Код</th>
				<th>Наименование</th>
			</tr>
			{% for obj in object_list %}
			<tr>
				<td>{{ obj.id|zid:'5' }}</td>
				<td>{{ obj.name }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}