{% extends "box.html" %}

{% load assets %}

{% block title %}Юридические лица{% endblock %}

{% block head %}
    {% autoescape off %}
    <script type="text/javascript">
        var state = '{{ request.active_profile.state }}';
        var MEDIA_URL = '{{ STATIC_URL }}';
        var API_URL = '/api/v1';
        function App.getApiUrl(resource){
            return [API_URL,'dashboard',resource].join("/");
        }
        var apps = {{ apps }};
    </script>
    {% endautoescape %}

    {% include "webapp/includes/active_profile.html" %}
{% assets "css_barcoding" %}
     <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}

    <style>
    </style>


    {% assets "js_ext" %}
     <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "js_for_all" %}
     <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        Raven.config("{{sentry_dsn}}");
    </script>

    <script src="/direct/provider.js/"></script>

    {% assets "js_accounting" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}

{% block body %}
{% endblock %}
