<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="{{ STATIC_URL }}resources/css/reset.css" type="text/css" rel="stylesheet" media="all"/>
{% block head %}{% endblock %}	
	<link href="{{ STATIC_URL }}resources/css/print.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="{{ STATIC_URL }}resources/css/print_preview.css" type="text/css" rel="stylesheet" media="screen"/>
{% block extra_head %}{% endblock %}
</head>

<body>
{% block header %}
{% endblock %}

{% block body %}
{% endblock %}
</body>

</html> 
