{% extends "print/base.html" %}

{% block title %}Приложение к договору{% endblock %}

{% block extra_head %}
	<link href="{{ STATIC_URL }}resources/css/docs.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<table class="header">
	<tr>
		<td></td>
		<td>Приложение №1 к договору {{ contract.details }}</td>
	</tr>
</table>

<h3>Информированное добровольное согласие пациента<br>
на проведение лечебно-диагностических процедур
</h3>

<div class="one-half">
<p class="indent">
Я, {{ patient.full_name }}, ознакомлен{{ f }} лечащим врачом с намеченным планом, объемом и целью моего (ребенка) обследования и лечения, включающим:
</p>
<ol class="indent">
	<li>взятие крови из пальца и вены;</li>
	<li>осуществление различных методов исследований, в том числе инструментальных и инвазивных;</li>
	<li>внутривенные и внутримышечные инъекции.</li>
</ol>

<p class="indent">
Я осведомлен{{ f }} о возможных осложнениях на этапах лечения (обследования). 
Я информирован{{ f }} о действии назначенных мне (моему ребенку) лекарственных препаратов.
</p>
<p class="indent">
Мне разъяснено, что в единичных случаях при применении препаратов любого класса возможно проявление индивидуальной непереносимости лекарства, которое потребует его отмены и назначения другого препарата.
</p>
<p class="indent">
Я предупрежден{{ f }} о возможности изменения сроков лечения, проведения дополнительных обследований и соответственно дополнительной оплаты.
</p>
<p class="indent">
Мною получены рекомендации от врача по дальнейшему лечению, режиму и диете.
</p>
<p class="indent">
Я предупрежден{{ f }} о необходимости соблюдения рекомендаций врача и в случае их нарушения и возникновения осложнений по моей вине не буду иметь претензий к врачу.
</p>
<p class="indent">
Я получил{{ f }} ответы на все мои вопросы.
</p>
<p class="indent">
На лечение соглас{{ ff }}. С суммой и формой оплаты соглас{{ ff }}.
</p>
</div>
{% endblock %}
