{% extends "print/base.html" %}

{% block title %}Договор{% endblock %}

{% block extra_head %}
	<link href="{{ MEDIA_URL }}resources/css/docs.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<table class="header">
	<tr>
		<td>г. Краснодар</td>
		<td>{{ contract.created|date:"d.m.Y" }}г.</td>
	</tr>
</table>

<h1><strong>ДОГОВОР</strong> №<strong>{{ contract.id }}</strong></h1>

<h2><strong>об оказании платных медицинских услуг</strong></h2>

<p class="preamble">ООО «Клиника Евромед», 
именуемое далее Исполнитель, действующее на основании Лицензии ЛО 23-01-002893 от 24.12.2010г., 
в лице директора Пенжоян Ольги Григорьевны, 
действующего на основании Устава, 
с одной стороны, и гражданин <strong>{{ patient.full_name}}</strong>, именуемый далее Пациент, с другой стороны, 
заключили настоящий договор о нижеследующем:</p>

<h3><strong>1. Предмет договора</strong></h3>

<p><strong>1.1. </strong>Настоящий договор обеспечивает реализацию прав Пациента на получение платных медицинских услуг, указанных в п.1.4 настоящего договора в ООО «Современные диагностические технологии».</p>

<p><strong>1.2.</strong> Пациент добровольно берет на себя обязательство оплачивать Исполнителю затраты, связанные с оказанием платных медицинских услуг.</p>

<p><strong>1.3.</strong> Исполнитель организует и обеспечивает оказание медицинской услуги в соответствии с перечнем видов медицинской деятельности, сертифицированных и разрешенных лицензией.</p>

<p><strong>1.4.</strong> Перечень медицинских услуг:</p>

<h3><strong>2.  Основание и сроки получения медицинской помощи</strong></h3>

<p><strong>2.1. </strong>Основанием для предоставления платных медицинских услуг является добровольное желание Пациента.</p>

<p><strong>2.2. </strong>Исполнителем оказывается медицинская услуга в согласованное с Пациентом время.</p>

<p><strong>2.3. </strong>Содержание, сроки и объем лечения согласовываются сторонами.</p>

<h3><strong>3. Права и обязанности сторон</strong></h3>

<p><strong>3.1. Исполнитель обязуется:</strong></p>

<p><strong>3.1.1. </strong>Провести лечение в соответствии с индивидуальными медицинскими показаниями.</p>

<p><strong>3.1.2. </strong>Обеспечить соответствие предоставляемых медицинских услуг требованиям, предъявляяе-мым к методам диагностики, профилактики и лечения, разрешенным на территории Российской Федерации.</p>

<p><strong>3.1.3.</strong> Ознакомить пациента с подробной информацией о предоставляемых медицинских услугах в соответствии со ст.30,31,32 Основ законодательства РФ об охране здоровья граждан, планом и стоимостью лечения. При изменении плана и стоимости лечения проинформировать Пациента и предоставить дополнительную медицинскую услугу с его согласия.</p>

<p><strong>3.2.</strong> <strong>Исполнитель имеет право:</strong></p>

<p><strong>3.2.1. </strong>По согласованию с пациентом изменять по медицинским показателям план , объем и стоимость лечения.</p>

<p><strong>3.3. пациент обязан:</strong></p>

<p><strong>3.3.1. </strong>Выполнять требования, обеспечивающие качественное предоставление медицинской помощи, включая назначения лечащего врача, сообщать необходимые сведения и соблюдать режимы гигиены, питания и физической активности после проведения медицинской процедуры.</p>

<p><strong>3.3.2.</strong> После предоставления ему информации, указанной в п.3.1.3., подписать Приложение №1 к настоящему договору – «Лист информационного согласия на оказание медицинских услуг».</p>

<p><strong>3.3.3.</strong> Являться на прием к врачу в установленное время, согласованное с врачом.</p>

<p><strong>3.3.4.</strong> Без уведомления лечащего врача во время наблюдения и лечения не использовать препараты, назначенные специалистами других лечебных учреждений.</p>

<p><strong>3.4.</strong> Пациент имеет право:</p>

<p><strong>3.4.1.</strong> Получать информацию о результатах проводимого лечения, о состоянии своего здоровья.</p>

<p><strong>3.4.2.</strong> При необходимости получать копии своей медицинской документации.</p>

<p><strong>3.4.3.</strong> Отказаться от получения медицинских услуг Исполнителя.</p>

<p><strong>3.4.4.</strong> В случае отказа имеет право на возврат 100% от суммы оплаченной, но не оказанной услуги.</p>

<h3><strong>4. Порядок оплаты</strong></h3>

<p><strong>4.1.</strong> Стоимость медицинских услуг устанавливается действующим Прейскурантом цен Исполнителя на день оплаты услуг.</p>

<p><strong>4.2.</strong> Оплата услуг осуществляется Пациентом  в порядке 100%-ной предоплаты до получения услуг путем внесения наличных денежных средств в кассу исполнителя.</p>

<h3><strong>5. Ответственность сторон</strong></h3>

<p><strong>5.1.</strong> В случае неоплаты Пациентом стоимости услуг на условиях, указанных в разделе 4 настоящего договора Исполнитель имеет право отказать Пациенту в оказании услуг до оплаты ее стоимости.</p>

<p><strong>5.2.</strong> Исполнитель не несет ответственности за результаты оказания медицинской услуги в случаях несоблюдения Пациентом рекомендаций по лечению.</p>

<h3><strong>6. Обстоятельства, освобождающие от ответственности </strong></h3>

<p><strong>6.1.</strong> Ни одна из сторон не будет нести ответственность за полное или частичное неисполнение любой из своих обязанностей, если докажет, что надлежащее исполнение оказалось невозможным вследствие действия непреодолимой силы, т.е. чрезвычайных и непредотвратимых при данных условиях обстоятельств.</p>

<h3><strong>7. Порядок разрешения споров</strong></h3>

<p><strong>7.1.</strong> В случае возникновения споров по вопросам, предусмотренным настоящим договором, стороны примут все меры к разрешению их путем переговоров. При невозможности устранения разногласий споры рассматриваются клинико-экспертной комиссией и/или экспертами в установленном порядке.</p>

<p><strong>7.2.</strong> При не достижении  согласия сторон споры разрешаются в соответствии с законодательством РФ.</p>

<h3><strong>8. Прочие условия</strong></h3>

<p><strong>8.1.</strong> Настоящий договор вступает в силу с момента его подписания обеими Сторонами и действует до конца текущего года.</p>

<p><strong>8.2.</strong> Любая из сторон вправе расторгнуть договор, предварительно за 14 дней уведомив об этом другую сторону в письменном виде.</p>

<p><strong>8.3.</strong> Прекращение настоящего договора освобождает стороны от исполнения обязательств только после того, как они  выполнят свои обязательства, возникшие у них до момента прекращения настоящего договора в полном объеме.</p>

<p><strong>8.4.</strong> Договор составлен в двух экземплярах, по одному для каждой из сторон, и оба экземпляра имеют равную юридическую силу. Приложение №1 и иные приложения(при их наличии) являются неотъемлемой частью настоящего договора.</p>

<h3><strong>9. Реквизиты сторон</strong></h3>

<table class="details">
	<tr>
		<th>ИСПОЛНИТЕЛЬ</th>
		<th>ПАЦИЕНТ</th>
	</tr>
	<tr>
		<td>ООО "Клиника Евромед"<br />
		ОГРН 1102309000694<br />
		ИНН 2309120900 КПП 230901001<br />
		Юридический адрес: 350001, г. Краснодар, ул. Ким, 143<br />
		Почтовый адрес: 350051, г. Краснодар, ул. Ф.Лузана, 19<br />
		Р/с 40702810207550000829<br />
		к/с 30101810900000000585<br />
		в Филиал №2351 Банка ВТБ 24 (ЗАО) г. Краснодар<br />
		БИК 040349585<br />
		</td>
		<td>{{ patient.full_name}}<br>
		{{ patient.home_address }}<br>
		{{ patient.mobile_phone }}</td>
	</tr>
	<tr>
		<td><br /><br />_____________________________</td>
		<td><br /><br />_____________________________</td>
	</tr>
</table>

{% endblock %}