{% extends "print/lab/results.html" %}

{% load lab_tags flatblock_tags %}

{% block data %}
<table class="results">
	<tr>
		<th>Наименование исследования</th>
		<th>Результат</th>
		<th>Единицы измерения</th>
		<th>Референсные значения</th>
	</tr>
	
{% for result in results %}
	{% if result.class == 'group' or result.class == 'service' or result.class == 'blank'%}
	<tr>
		<td colspan="4" class="{{ result.class }}">{{ result.object|linebreaks }}
		{% if result.object.description %}
			<div class="descr">{{ result.object.description|linebreaks }}</div>
		{% endif %}
		</td>
	</tr>
	{% endif %}
	{% if result.class == 'subgroup'%}
	<tr>
		<td colspan="4" class="blank {{result.class}}">{{ result.object|linebreaks }}</td>
	</tr>
	{% endif %}
	{% if result.class == 'result' %}
	<tr class="{% cycle 'row' 'stripe' %}">
		<td class="analysis {% if result.object.comment %}with-comment{% endif %}">{{ result.object.get_title }}</td>
		<td class="{% if result.object.comment %}with-comment{% endif %}">{% autoescape off %}{{ result.object.get_result|sup }}{% endautoescape %}</td>
		<td class="{% if result.object.comment %}with-comment{% endif %}">{{ result.object.measurement|default:"---" }}</td>
		<td class="{% if result.object.comment %}with-comment{% endif %}">{{ result.object.ref_range_text|default:"---"|linebreaks }}</td>
	</tr>
		{% if result.object.comment %}
		<tr>
			<td colspan="4" class="comment">
				{% autoescape off %}
				{{ result.object.comment }}
				{% endautoescape %}
			</td>
		</tr>
		{% endif %}
	{% endif %}
	{% if result.class == 'progress' %}
	<tr class="{% cycle 'row' 'stripe' %}">
		<td class="analysis">{{ result.object.get_title }}</td>
		<td colspan="3" class="progress">В работе</td>
	</tr>
	{% endif %}
{% empty %}
	<tr><td colspan="4">Результаты анализов отсутствуют</td></tr>
{% endfor %}
</table>
{% endblock %}