{% extends "admin/base_site.html" %}

{% load i18n %} 

{% block title %}Прайс-лист{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
</div>
{% endif %}{% endblock %}


{% block content %}
-<form method="get" action="/helper/pricelist/" target="_blank">
	<input type="text" name="date" value="{{ today }}">
	{{form}}	
	<!--<select name="state">
		<option value="1">Евромед КИМ</option>
		<option value="6">Евромед Лузана</option>
	</select> --><br>
	<input type="checkbox" name="by_state" value="1" >Только по выбранной фирме<br>
	<button name="type" value="print">Для печати</button> <button name="type" value="xls">Excel</button> 
</form>


{% endblock %}