{% extends "box.html" %}
{% load assets %}

{% block title %}Панель управления{% endblock %}

{% block head %}

	{% autoescape off %}
	<script type="text/javascript">
		var state = '{{ request.active_profile.state }}';
		var MEDIA_URL = '{{ STATIC_URL }}';
		var API_URL = '/api/v1';
		function get_api_url(resource){
			return [API_URL,'dashboard',resource].join("/");
		}
		var apps = {{ apps }};
	</script>
	{% endautoescape %}
	
	{% include "webapp/includes/active_profile.html" %}
	
	{% assets "css_laboratory" %}
	 <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></>
	{% endassets %}
	
    {% assets "js_ext" %}
	 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	
	{% assets "js_for_all" %}
	 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	
	<script type="text/javascript">
		Raven.config("{{sentry_dsn}}");
	</script>
	
	<script src="/direct/provider.js/"></script>
	
	{% assets "js_laboratory" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	<script type="text/javascript">
	    
	    WEB_SOCKET_SUPPRESS_CROSS_DOMAIN_SWF_ERROR = true;
		WEB_SOCKET_SWF_LOCATION = "{{ STATIC_URL }}resources/js/web-socket-js/WebSocketMain.swf";
	    WEB_SOCKET_DEBUG = true;
	    
	  </script>

{% endblock %}

{% block body %}
{% endblock %}
