{% extends "print/base.html" %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}resources/css/reports.css">
{% endblock %}

{% block body %}
{% include "print/header.html"%}

<div id="changelist" class="module">
<h1>{{ name }}</h1>

{% for params in trim_params %}
<p>{{ params.0 }} : {{ params.1 }}</p>
{% endfor %}
            
<table class="data" width="100%">
    <tbody>

        <tr class="head">
            <th></th>
            <th>Дата</th>
            <th>Организация</th>
            <th>Тип цены</th>
            <th>Цена 1</th>
            <th>Цена 2</th>
        </tr>

        {% for gr in results %}
            <tr class="group1">
                <td colspan=6>{{ gr.0 }}</td>
            </tr>
            
            {% for row in gr.1 %}            
            <tr>
                <td ></td>
                <td >{{ row.0 }}</td>
                <td >{{ row.1 }}</td>
                <td >{% if row.2 == 'r' %}розничная{% else %}закупочная{% endif %}</td>
                <td >{{ row.3|default:'0' }}</td>
                <td >{{ row.4 }}</td>
            </tr>
            {% endfor %}
            
        {% endfor %}


    </tbody>
</table>
</div>

{% endblock %}
