{% extends "reporting/base.html" %}

{% block data %}
        <tr class="head">
            <th></th>
            <th>Дата</th>
            <th>Организация</th>
            <th>Тип цены</th>
            <th>Цена 1</th>
            <th>Цена 2</th>
        </tr>

        {% for gr in results %}
            <tr class="group1">
                <td colspan=6>{{ gr.0 }}</td>
            </tr>
            
            {% for row in gr.1 %}            
            <tr>
                <td ></td>
                <td >{{ row.0 }}</td>
                <td >{{ row.1 }}</td>
                <td >{% if row.2 == 'r' %}розничная{% else %}закупочная{% endif %}</td>
                <td >{{ row.3|default:'0' }}</td>
                <td >{{ row.4 }}</td>
            </tr>
            {% endfor %}
            
        {% endfor %}

{% endblock %}
