{% extends "print/base.html" %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}resources/css/reports.css">
{% endblock %}

{% block body %}
{% include "print/header.html"%}

<div id="changelist" class="module">
<h1>{{ name }}</h1>

{% for params in trim_params %}
<p>{{ params.0 }} : {{ params.1 }}</p>
{% endfor %}
            
<table class="data" width="100%">
    <tbody>

        <tr class="header">
            <th>Группа</th>
            <th>Код - Наименование</th>
            <th class="number">Цена</th>
            <th class="number">Количество</th>
            <th class="number">Сумма</th>
            <th class="number">Скидка</th>
            <th class="number">Итого</th>
        </tr>

        <tr class="footer">        
            <th colspan=3>ВСЕГО:</th>
            <th class="number">{{results.totalcount}}</th>
            <th class="number">{{results.totalsum}}</th>
            <th class="number">{{results.totaldisc}}</th>
            <th class="number">{{results.total}}</th>
        </tr>
        
        {% for gr in results.list %}
            <tr class="group">
                <td colspan=3>{{ gr.0 }}</td>
                <td class="number">{{ gr.1 }}</td>
                <td class="number">{{ gr.2 }}</td>
                <td class="number">{{ gr.3 }}</td>
                <td class="number">{{ gr.4 }}</td>
            </tr>
            {% for row in gr.5 %}            
                {% for list in row %}
                <tr>
                    <td ></td>
                    <td >{{ list.0 }}</td>
                    <td class="number">{{ list.1 }}</td>
                    <td class="number">{{ list.2 }}</td>
                    <td class="number">{{ list.3 }}</td>
                    <td class="number">{{ list.4 }}</td>
                    <td class="number">{{ list.5 }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}



    </tbody>
</table>
</div>

{% endblock %}
