
{% block extra_head %}
<style>
    h1 {
        text-align:center;
        margin:0.6cm;
        font-size:2em;
    }

    table {
        width:100%;
        border:1px solid gray;
    }

    th {
        text-align:left;
    }

    td {
        border:1px solid #AAA;
        padding:2px;
    }
    .group {
        background:#cdffd1;
        font-weight: bold;
    }
    .footer {
        margin-bottom:20px;
        font-size:1.2em;
        background:#ccccff;
    }
    .number {
    text-align:center;
    }
    .total {
        background:#ccccff;
    }
</style>
{% endblock %}

{% block body %}

<div id="changelist" class="module">
<h1>{{ name }}</h1>

{% for params in trim_params %}
<p>{{ params.0 }} : {{ params.1 }}</p>
{% endfor %}
            
<table width="100%">
    <tbody>

        <tr class="header">
            <th></th>
            <th>Ф.И.О.</th>
            <th>Полис</th>            
            <th>Дата</th>
            <th>№ Приема</th>
            <th>Код - Наименование</th>
            <th class="number">Цена</th>
            <th class="number">Количество</th>
            <th class="number">Сумма</th>
            <th class="number">Скидка</th>
        </tr>

        <tr class="footer">        
            <th colspan=7>ВСЕГО:</th>
            <th class="number">{{results.0.1}}</th>
            <th class="number">{{results.0.2}}</th>
            <th class="number">{{results.0.3}}</th>
        </tr>
        
        {% for gr in results.0.0 %}
            <tr class="group">
                <td colspan=7>{{ gr.0 }}</td>
                <td class="number">{{ gr.1 }}</td>
                <td class="number">{{ gr.2 }}</td>
                <td class="number">{{ gr.3 }}</td>
            </tr>
            {% for row in gr.4 %}            
                {% for list in row %}
                <tr>
                    <td ></td>
                    <td >{{ list.0 }}</td>
                    <td >{{ list.1 }}</td>
                    <td >{{ list.2 }}</td>
                    <td >{{ list.3 }}</td>
                    <td >{{ list.4 }}</td>
                    <td class="number">{{ list.5 }}</td>
                    <td class="number">{{ list.6 }}</td>
                    <td class="number">{{ list.7 }}</td>
                    <td class="number">{{ list.8 }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}



    </tbody>
</table>
</div>

{% endblock %}
