{% extends "box.html" %}

{% block title %}Панель управления{% endblock %}

{% block head %}
	<link rel="icon" type="image/ico" href="{{ STATIC_URL }}resources/favicon.ico" />

    <!-- ExtJS -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/resources/css/ext-all.css"/>

    <!-- APP -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}resources/css/app.css"/>

    <!-- FAM -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}resources/css/silk.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/ux/css/Spinner.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/ux/css/RowEditor.css" rel="stylesheet" />
	
	<style>
		#bd {
			width:960px;
		    margin:5px auto;
		    zoom:1;
		}
		#bd .left-column {
		    width:738px;
		    float:left;
		}
		#bd .right-column {
		    width:200px;
		    float:left;
		    margin-left:20px;
		}
	</style>

	<script type="text/javascript">
		//var state = '{{ request.active_profile.state }}';
		var STATIC_URL = '{{ STATIC_URL }}';
		var API_URL = '/api/v1';
		function get_api_url(resource){
			return [API_URL,'dashboard',resource].join("/");
		}
	</script>

    <!-- LIBS -->
    <script type="text/javascript" src="{{ STATIC_URL }}extjs/adapter/ext/ext-base.js"></script>
    <!-- ENDLIBS -->

    <script type="text/javascript" src="{{ STATIC_URL }}extjs/ext-all-debug.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}extjs/src/debug.js"></script>-->

    <script type="text/javascript" src="{{ STATIC_URL }}extjs/ux/RowEditor.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}app/reporting/FilterGrid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/reporting/FieldGrid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/reporting/GroupGrid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/reporting/SummaryGrid.js"></script>
	
    <script type="text/javascript" src="{{ STATIC_URL }}app/reporting/Designer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/reporting/Grid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/reporting/Viewport.js"></script>

{% endblock %}

{% block body %}
<div id="props-grid"></div>
<div id="button-container"></div>
{% endblock %}
