{% extends "box.html" %}
{% load assets %}

{% block title %}Панель управления{% endblock %}

{% block head %}
	<link rel="icon" type="image/ico" href="{{ STATIC_URL }}resources/favicon.ico" />

{% assets "css_reporting" %}
	 <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></>
{% endassets %}
	
	<style>
		#bd {
			width:960px;
		    margin:5px auto;
		    zoom:1;
		}
		#bd .left-column {
		    width:738px;
		    float:left;
		}
		#bd .right-column {
		    width:200px;
		    float:left;
		    margin-left:20px;
		}
	</style>

	<script type="text/javascript">
		//var state = '{{ request.active_profile.state }}';
		var STATIC_URL = '{{ STATIC_URL }}';
		var API_URL = '/api/v1';
		function get_api_url(resource){
			return [API_URL,'dashboard',resource].join("/");
		}
	</script>

    <{% assets "js_ext" %}
	 <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	
	{% assets "js_reporting" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

{% endblock %}

{% block body %}
<div id="props-grid"></div>
<div id="button-container"></div>
{% endblock %}
