.x-icon-expand-all {
    background-image: url(../images/expand-all.gif) !important; background-repeat: no-repeat;
}
.x-icon-collapse-all {
    background-image: url(../images/collapse-all.gif) !important; background-repeat: no-repeat;
}
.med-testtubes {
	background-image: url(icons/TestTubes.png) !important; background-repeat: no-repeat;
}
.med-usersetup {
	background-image: url(icons/UserSetup.png) !important; background-repeat: no-repeat;
}
.ex-place-1 {
	background-image: url(../images/state_1.png) !important; background-repeat: no-repeat;
}
.ex-place-4 {
	background-image: url(../images/state_4.png) !important; background-repeat: no-repeat;
}
.ex-place-5 {
	background-image: url(../images/state_5.png) !important; background-repeat: no-repeat;
}
.ex-place-6 {
	background-image: url(../images/state_6.png) !important; background-repeat: no-repeat;
}
.ex-place-7 {
	background-image: url(../images/state_7.png) !important; background-repeat: no-repeat;
}
.med-laboratory {
	background-image: url(../images/laboratory.png) !important; background-repeat: no-repeat;
}
.med-doctor {
	background-image: url(../images/doctor.png) !important; background-repeat: no-repeat;
}
.x-tree-node-anchor {
	white-space:normal;
}
.helpdesk-row-body, .preorder-actual-row-body {
	padding:5px;
	color:#385F95
}

.result-row-body {
	margin-top:2px;
	padding:1px 5px 7px 18px;
	color:#385F95
}

.splash {
	background: url(../images/medhq_splash.png) no-repeat center center ;
	background-color: white;
}

#ordered-service-inline-grid .x-grid3-td-1 div {
	padding:0px;
}

#images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
	background: #dddddd;
	padding: 3px;
}
#images-view .thumb img{
	height: 60px;
	width: 80px;
}
#images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#images-view .x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#images-view .x-view-selected .thumb{
	background:transparent;
}

#images-view .loading-indicator {
	font-size:11px;
	background-image:url('../../resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.x-lab-complete {
	background:#D3FFC7;
}

.x-result-group {
	background:#DDD;
}
.x-result-group td {
	font-weight: bold;
}

.x-lab-incomplete {
	background:#FFC7C7;
}
.x-grid3-row-selected {
    background-color: #7284D6 !important;
    background-image: none;
    border-color: #A3BAE9;
    color:white;
}

.icon-state-yes { background-image: url(../images/icon-yes.gif) !important; background-repeat: no-repeat; }

.icon-state-no { background-image: url(../images/icon-no.gif) !important; background-repeat: no-repeat; }

.icon-state-question { background-image: url(../images/icon-question.png) !important; background-repeat: no-repeat; }

.icon-state-attention { background-image: url(../images/icon-attention.png) !important; background-repeat: no-repeat; }

.icon-clear-left { background-image: url(../images/clear-left.png) !important; background-repeat: no-repeat; }

#lab-order-grid .x-grid3-cell-inner.x-grid3-col-laboratory {
	margin:0px;
	padding:0px;
	height:45px;
}
#lab-order-grid .x-grid3-col-laboratory div {
	padding:3px;
	height:100%;
}

#lab-order-grid .x-grid3-row-selected .x-grid3-col-laboratory div {
	color:black;
}

#lab-order-grid .x-grid3-cell-inner, #lab-result-grid .x-grid3-cell-inner {
	padding:3px 0;
}

#lab-result-grid .x-grid3-col-0 {
	padding:3px 0px 3px 2px;
}

#lab-result-grid  .x-grid3-cell-first {
}


.x-growl-accept {
    background-image: url("../images/accept32.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.x-filters-enabled {
	color:red;
}

.x-equipment-task-wait {
	background-color: #FCF4BD;
}

.x-equipment-task-done {
	background-color: #D2FFC9;
}

.x-grid3-col-order b,.x-grid3-col-staff b {
	display:block;
}

.x-grid3-col-laboratory b {
	font-weight:normal;
	display:block;
}

.x-grid3-col-laboratory p, .x-grid3-col-staff p {
	color:#081B85;
	font-weight: bold;
	text-align: right;
	padding-right:5px;
}

.preorder-actual-row-body {
	background:#EEFBEC;
}

.preorder-deactive-row-body {
	background:#F3F3F3;
}

.preorder-visited-row-body {
	background:#FCFD8E;
}

.preorder-other-place-row-body {
	background:#FFDFDF;
}

.warn {
	color:red;
	font-weight: bold;
}

.x-grid-row-warning {
	background:#FFDFDF;
}
.x-grid-row-info {
	background:#FFFEAB;
}
.x-grid-row-error {
	background:#FF7373;
}
.x-grid-row-normal {
	background:#D2FFC9;
}
.x-grid-row-stripe {
	background:url(../images/stripe_warn.png);
}

.icon-main-button { 
	background-image: url(../images/main-button.png) !important; 
	background-repeat: no-repeat;
}

button.icon-main-button {
	width:100px!important;
}
.menu-title{
    background: #D6E3F2;
    border-style: solid;
    border-color:#DAE6F4 #99bbe8 #99bbe8 #DAE6F4;
    border-width: 1px;
    margin:-2px -2px 0;
    color:#15428b;
    font:bold 10px tahoma,arial,verdana,sans-serif;
    display:block;
    padding:3px;
}
.patient-card-header {
	padding:2px;
	height:53px;
	font-size:12px;
	font-family:'Verdana';
}
.patient-card-header ul {
	background-image: url(icons/error.png) !important; background-repeat: no-repeat; 
	padding-left:20px;
	float:right;
}
.patient-card-header div span {
	font-weight:bold;
}
.patient-card-header h1 {
	padding:0;
	margin:0;
}

.start-help-text {
	padding:10px;
	border-radius:8px;
	border:2px dashed #CCC;
	font-size:18pt;
	color:#AAA;
}

#lab-result-grid .x-grid3-col-7 {
	padding-top:0px;
}



.hq-pretty-doc {
	width: 100%;
	font-family:'Arial';
	padding:6px;
	margin-bottom:30px;
	background:#F0F0F0;
}

.hq-pretty-doc td {
	padding:4px;
	background-color:white;
}

.hq-pretty-doc .name {
	width:5cm;
	background-color:#DDD;
}

.hq-pretty-doc .bold {
	font-weight:bold;
	background-color:white;
}

.hq-pretty-doc th {
	background-color:white;
	font-weight:bold;
	font-size:9pt;
}
.hq-pretty-doc .space th {
	padding:0 2px 0 2px;
}
.hq-pretty-doc .service  {
	background-color:white;
	font-size:10pt;
}

.hq-pretty-doc .result  {
	font-size:10pt;
	font-weight:bold;
}

.hq-pretty-doc .splitter  {
	background: transparent;
	font-size:8pt;
}

.to-right {
	text-align:right;
}
.x-grid-group-hd {
	padding-top:3px;
	border-top:2px solid #edf4ff;
	background-color:#cee1ff;
}