.med-testtubes {
	background-image: url(icons/TestTubes.png) !important; background-repeat: no-repeat;
}
.med-usersetup {
	background-image: url(icons/UserSetup.png) !important; background-repeat: no-repeat;
}
.ex-place-1 {
	background-image: url(../images/state_1.png) !important; background-repeat: no-repeat;
}
.ex-place-4 {
	background-image: url(../images/state_4.png) !important; background-repeat: no-repeat;
}
.ex-place-5 {
	background-image: url(../images/state_5.png) !important; background-repeat: no-repeat;
}
.ex-place-6 {
	background-image: url(../images/state_6.png) !important; background-repeat: no-repeat;
}
.ex-place-7 {
	background-image: url(../images/state_7.png) !important; background-repeat: no-repeat;
}
.med-laboratory {
	background-image: url(../images/laboratory.png) !important; background-repeat: no-repeat;
}
.med-doctor {
	background-image: url(../images/doctor.png) !important; background-repeat: no-repeat;
}
.x-tree-node-anchor {
	white-space:normal;
}
.helpdesk-row-body, .preorder-actual-row-body {
	padding:5px;
	color:#385F95
}

.splash {
	background: url(../images/medhq_splash.png) no-repeat center center ;
	background-color: white;
}

#ordered-service-inline-grid .x-grid3-td-1 div {
	padding:0px;
}

#images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
	background: #dddddd;
	padding: 3px;
}
#images-view .thumb img{
	height: 60px;
	width: 80px;
}
#images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#images-view .x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#images-view .x-view-selected .thumb{
	background:transparent;
}

#images-view .loading-indicator {
	font-size:11px;
	background-image:url('../../resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.x-lab-complete {
	background:#D3FFC7;
}

.x-lab-incomplete {
	background:#FFC7C7;
}
.x-grid3-row-selected {
    background-color: #7284D6 !important;
    background-image: none;
    border-color: #A3BAE9;
    color:white;
}

.icon-state-yes { background-image: url(../images/icon-yes.gif) !important; background-repeat: no-repeat; }

.icon-state-no { background-image: url(../images/icon-no.gif) !important; background-repeat: no-repeat; }

.icon-state-question { background-image: url(../images/icon-question.png) !important; background-repeat: no-repeat; }

.icon-state-attention { background-image: url(../images/icon-attention.png) !important; background-repeat: no-repeat; }

.icon-clear-left { background-image: url(../images/clear-left.png) !important; background-repeat: no-repeat; }

#lab-order-grid .x-grid3-cell-inner, #lab-result-grid .x-grid3-cell-inner {
	padding:3px 0;
}

#lab-result-grid .x-grid3-col-0 {
	padding:3px 0px 3px 2px;
}

#lab-result-grid  .x-grid3-cell-first {
}


.x-growl-accept {
    background-image: url("../images/accept32.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.x-filters-enabled {
	color:red;
}

.x-equipment-task-wait {
	background-color: #FCF4BD;
}

.x-grid3-col-order b,.x-grid3-col-staff b {
	display:block;
}

.x-grid3-col-laboratory b {
	font-weight:normal;
	display:block;
}

.x-grid3-col-laboratory p {
	color:#081B85;
	font-weight: bold;
	text-align: right;
	padding-right:5px;
}

.preorder-actual-row-body {
	background:#EEFBEC;
}

.preorder-deactive-row-body {
	background:#F3F3F3;
	color:#9F9D95
}

.preorder-visited-row-body {
	background:#FCFD8E;
}

.preorder-other-place-row-body {
	background:#FFDFDF;
}

.warn {
	color:red;
	font-weight: bold;
}
