{% extends "box.html" %}


{% block body %}

<style>
	table.list td {
		border:1px solid;
		font-size:8pt;
	}
	.title-0 {
		font-weight:bold;
		background:#EEE;
	}
</style>

<table class="list">
<tr>
	<th>ID</th>
	<th>Услуга</th>
	<th>Базовая группа</th>
	<th>Способ выполнения</th>
	<th>Лабораторная группа</th>
	<th>Пробирки на месте</th>
	<th>Транспортные пробирки</th>
	<th>Отдельная тара</th>
</tr>
{% for service in services %}
<tr class="title-{{ service.level }}">
	<td>{{ service.id }}</td>
	<td>{{ service }}</td>
	<td>{{ service.base_group }}</td>
	<td>{{ service.execution_type_group }}</td>
	<td>{{ service.lab_group }}</td>
	<td>{% for tube in service.normal_tubes.all %}
	{{tube.id}}.{{tube}}<br>
	{% endfor %}
	</td>
	<td>{% for tube in service.transport_tubes.all %}
	{{tube.id}}.{{tube}}<br>
	{% endfor %}</td>
	<td>{{ service.individual_tube|yesno:'+,-' }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}