{% extends "admin/base_site.html" %}

{% block extrahead %}
{{block.super}}



<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}admin/css/ie.css" /><![endif]-->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/admin/RelatedObjectLookups.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/actions.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/SelectBox.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/inlines.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/calendar.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/admin/DateTimeShortcuts.js"></script>

{% endblock %}

{% block content %}
<form method="post" action=".">
<table>
{{ form.as_table }}
<tr>
<td colspan="2"><button>Сохранить</button>
</td>
</tr>
</table>
</form>
{% endblock %}