{% load markup lab_tags %}

<style>
	.patient, .results, .underwrite {
		width: 100%;
	}
	
	.patient {
		border: 1px solid;
		padding:6px;
		margin-bottom:30px;
	}
	
	.patient td {
		padding:4px;
	}
	
	.patient .name {
		width:5cm;
	}
	
	.patient .bold {
		font-weight:bold;
	}
	.template-preview {
		font-famlily:"Arial";
		padding:4pt;
		font-size:10pt;
	}

	.template-preview h1 {
		font-size:15pt;
		margin:4pt 0;
		color: black;
		text-align:center;
	}
	
	.template-preview h2 {
		font-size:12pt;
		margin:8pt 0 4pt 0;
	}
	
	.template-preview p {
	}
	
	.template-preview .footer {
		margin-top:1cm;
	}
	
	.template-preview .footer span {
		float:right;
	}
	
    .template-preview em {
   		font-style: italic;
   	}
   	
   	.template-preview strong {
   		font-weight: bold;
   	}
   	
   	.template-preview ol {
   		list-style-type: decimal;
   		list-style-position: inside;
   	}
   	
   	.template-preview ul {
   		list-style-type: disc;
   		list-style-position: inside;
   	}
</style>


	<table class="patient">
		<tr>
			<td>
				<table>
					<tr>
						<td class="name">Ф.И.О.:</td><td class="bold">{{ card.ordered_service.order.patient.full_name }}</td>
					</tr>
					<tr>
						<td class="name">Дата рождения:</td><td class="bold">{{ card.ordered_service.order.patient.birth_day|date:"d.m.Y" }}</td>
					</tr>
					<tr>
						<td class="name">Дата обследования:</td><td class="bold">{{ card.ordered_service.order.created|date:"d.m.Y H:i" }}</td>
					</tr>
				</table>
			</td>
			<td align="right">
				Заказ: <strong>{{ card.ordered_service.order.id|zid:"5" }}</strong><br>
				Врач: <strong>{{ card.ordered_service.staff.id|zid:"5" }}</strong><br>
				Направившее учреждение: <strong>{{ card.ordered_service.order.referral.id|zid:"5" }}</strong><br>
				
			</td>
		</tr>
	</table>
	<br>

<div class="template-preview">
<h1>{{ card.print_name }}</h1>

{% for d in data %}
	{% for ticket in d.tickets %}
	<h2>{{ ticket.title }}</h2>
	<p>{{ ticket.text|markdown }}</p>
	{% endfor %}
{% endfor %}
{% for d in gdata %}
	<h2>{{ d.title }}</h2>
	<p>{{ d.text }}</p>
{% endfor %}
{% if asgmts %}
	<h2> Рекомендации </h2>
	<table class="results">
	<tr>
		<td>Услуга</td><td>Количество</td>
	</tr>
	{% for a in asgmts %}
	<tr>
		<td>{{a.text}}</td><td>{{a.count}}</td>
	</tr>	
	{% endfor %}
{% endif %}
<div class="footer">Врач
	<span>___________________ {{ request.active_profile }}</span>
</div>
<br style="clear:both">
</div>
