<style>
	.LabRegistry {
		font-family:'Arial';
		padding:4px;
	}
	 
	.LabRegistry h1 {
		font-size:18pt;
		padding:6pt 0;
	}
	
	.LabRegistry table {
		width:100%;
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	.LabRegistry td, .LabRegistry th {
		border:1px solid gray;
		padding:1px 3px;
		font-size:10pt;
	}
	.LabRegistry th {
		background-color:#DDD;
		vertical-align: middle;
	}
	.LabRegistry td a {
		text-decoration: none;
		color: black;
	}
	.LabRegistry td a:hover {
		text-decoration: underline;
	}
	.LabRegistry td.analysis {
		border:none;
		padding:8px 1px 3px 1px;
		font-weight: bold;
		font-size: 13pt;
	}
	.LabRegistry td.num {
	}
	.LabRegistry td.date {
		text-align: center;
	}
	.LabRegistry tr.complete {
		background-color: #D3FFC7;
	}
	.LabRegistry tr.data:hover {
		/* background-color: #FAEF7A; */
		border-top:1px solid #EEE;
		border-bottom:1px solid #AAA;
	}
</style>

<div class="LabRegistry">

<!-- <h1>Реестр исследований</h1> -->

<table class="data" cellspacing="0" cellpadding="0" border="0">
	{% for result in result_list %}
	<tr>
		<td colspan="5" class="analysis">{{ result.0 }}</td>
	</tr>
	<tr>
		<th style="width:40px">№ п/п</th>
		<th style="width:20px">Дата</th>
		<th style="width:20px">Заказ</th>
		<th>Пациент</th>
		<th style="width:130px">Офис</th>
	</tr>
		{% for row in result.1 %}
		<tr class="data {% if row.2 %}complete{% endif %}">
			<td class="num">{{ forloop.counter }}</td>
			<td class="date"><a href="#filter">{{ row.1 }}</a></td>
			<td class=""><a href="#search">{{ row.3 }}</a></td>
			<td><a href="#search">{{ row.0 }}</a></td>
			<td><a href="#filter">{{ row.4 }}</a></td>
		</tr>
		{% endfor %}
	{% endfor %}

</table>

</div>
