{% extends "oldreporting/base.html" %}

{% block data %}
        <tr class="header">
            <th></th>
            <th>Ф.И.О.</th>
            <th>Полис</th>            
            <th>Дата</th>
            <th>№ Приема</th>
            <th>Код - Наименование</th>
            <th class="number">Цена</th>
            <th class="number">Количество</th>
            <th class="number">Сумма</th>
            <th class="number">Скидка</th>
            <th class="number">Итого</th>
        </tr>

        <tr class="footer">        
            <th colspan=7>ВСЕГО:</th>
            <th class="number">{{results.0.1}}</th>
            <th class="number">{{results.0.2}}</th>
            <th class="number">{{results.0.3}}</th>
            <th class="number">{{results.0.4}}</th>
        </tr>
        
        {% for gr in results.0.0 %}
            <tr class="group">
                <td colspan=7>{{ gr.0 }}</td>
                <td class="number">{{ gr.1 }}</td>
                <td class="number">{{ gr.2 }}</td>
                <td class="number">{{ gr.3 }}</td>
                <td class="number">{{ gr.4 }}</td>
            </tr>
            {% for row in gr.5 %}            
                {% for list in row %}
                <tr>
                    <td ></td>
                    <td >{{ list.0 }}</td>
                    <td >{{ list.1 }}</td>
                    <td >{{ list.2 }}</td>
                    <td >{{ list.3 }}</td>
                    <td >{{ list.4 }}</td>
                    <td class="number">{{ list.5 }}</td>
                    <td class="number">{{ list.6 }}</td>
                    <td class="number">{{ list.7 }}</td>
                    <td class="number">{{ list.8 }}</td>
                    <td class="number">{{ list.9 }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}

{% endblock %}
