{% extends "box.html" %}

{% load assets %}

{% block title %}{{ vp.name }} | {{ config.BRAND }}{% endblock %}

{% block head %}

{% assets css_assets %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}

{% assets js_assets %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

    <script src="/direct/provider.js/"></script>

    {% block init %}
    {% autoescape off %}
        <script type="text/javascript">
            Ext.onReady(function(){

                Ext.QuickTips.init();
                
                Ext.Ajax.defaultHeaders = {
                    Accept : 'application/json'
                };

                Ext.state.Manager.setProvider(
                    new Ext.state.CookieProvider({
                        expires: new Date(new Date().getTime()+(60*60*24*30)),
                    })
                );

                WebApp.init({
                    {{ options }}
                });

            });
        </script>
    {% endautoescape %}
    {% endblock %}
    
{% endblock %}